apiVersion: v1
kind: Namespace
metadata:
  name: http-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: http-server-deployment
  namespace: http-server
  labels:
    app: http-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: http-server
  template:
    metadata:
      labels:
        app: http-server
    spec:
      containers:
        - name: http-server
          image: shadabshah1680/master-project:http-server
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
